<style>
    .color-palette {
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    .color-palette-set {
        margin-bottom: 15px;
    }

    .color-palette span {
        display: none;
        font-size: 12px;
    }

    .color-palette:hover span {
        display: block;
    }

    .color-palette-box h4 {
        position: absolute;
        top: 100%;
        left: 25px;
        margin-top: -40px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ title }}
        <small ng-show="desc != null">{{ desc }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- COLOR PALETTE -->
    <box custom-classes="color-palette-box" title="Color Palette" icon-class="fa fa-tag" header-border="true">
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Primary</h4>

                <div class="color-palette-set">
                    <div class="bg-light-blue disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-light-blue color-palette"><span>#3c8dbc</span></div>
                    <div class="bg-light-blue-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Info</h4>

                <div class="color-palette-set">
                    <div class="bg-aqua disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-aqua color-palette"><span>#00c0ef</span></div>
                    <div class="bg-aqua-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Success</h4>

                <div class="color-palette-set">
                    <div class="bg-green disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-green color-palette"><span>#00a65a</span></div>
                    <div class="bg-green-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Warning</h4>

                <div class="color-palette-set">
                    <div class="bg-yellow disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-yellow color-palette"><span>#f39c12</span></div>
                    <div class="bg-yellow-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Danger</h4>

                <div class="color-palette-set">
                    <div class="bg-red disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-red color-palette"><span>#f56954</span></div>
                    <div class="bg-red-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Gray</h4>

                <div class="color-palette-set">
                    <div class="bg-gray disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-gray color-palette"><span>#d2d6de</span></div>
                    <div class="bg-gray-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Navy</h4>

                <div class="color-palette-set">
                    <div class="bg-navy disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-navy color-palette"><span>#001F3F</span></div>
                    <div class="bg-navy-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Teal</h4>

                <div class="color-palette-set">
                    <div class="bg-teal disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-teal color-palette"><span>#39CCCC</span></div>
                    <div class="bg-teal-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Purple</h4>

                <div class="color-palette-set">
                    <div class="bg-purple disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-purple color-palette"><span>#605ca8</span></div>
                    <div class="bg-purple-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Orange</h4>

                <div class="color-palette-set">
                    <div class="bg-orange disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-orange color-palette"><span>#ff851b</span></div>
                    <div class="bg-orange-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Maroon</h4>

                <div class="color-palette-set">
                    <div class="bg-maroon disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-maroon color-palette"><span>#D81B60</span></div>
                    <div class="bg-maroon-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 col-md-2">
                <h4 class="text-center">Black</h4>

                <div class="color-palette-set">
                    <div class="bg-black disabled color-palette"><span>Disabled</span></div>
                    <div class="bg-black color-palette"><span>#111111</span></div>
                    <div class="bg-black-active color-palette"><span>Active</span></div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </box>
    <!-- START ALERTS AND CALLOUTS -->
    <h2 class="page-header">Alerts and Callouts</h2>

    <div class="row">
        <div class="col-md-6">
            <box icon-class="fa fa-warning" title="Alerts">
                <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                    <h4><i class="icon {{ alert.iconClass }}"></i> {{ alert.title }}</h4>
                    {{ alert.content }}
                </uib-alert>
            </box>
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            <box icon-class="fa fa-bullhorn" title="Callouts">
                <callout ng-repeat="callout in callouts" type="callout.type" title="callout.title">
                    {{ callout.content }}
                </callout>
            </box>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END ALERTS AND CALLOUTS -->
    <!-- START CUSTOM TABS -->
    <h2 class="page-header">AdminLTE Custom Tabs</h2>

    <div class="row">
        <div class="col-md-6">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <uib-tabset active="0">
                    <uib-tab index="0" heading="Tab 1">
                        <b>How to use:</b>

                        <p>Exactly like the original bootstrap tabs except you should use
                            the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                        A wonderful serenity has taken possession of my entire soul,
                        like these sweet mornings of spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot,
                        which was created for the bliss of souls like mine. I am so happy,
                        my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                        that I neglect my talents. I should be incapable of drawing a single stroke
                        at the present moment; and yet I feel that I never was a greater artist than now.
                    </uib-tab>
                    <uib-tab index="1" heading="Tab 2">
                        The European languages are members of the same family. Their separate existence is a myth.
                        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                        in their grammar, their pronunciation and their most common words. Everyone realizes why a
                        new common language would be desirable: one could refuse to pay expensive translators. To
                        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                        words. If several languages coalesce, the grammar of the resulting language is more simple
                        and regular than that of the individual languages.
                    </uib-tab>
                    <uib-tab index="2" heading="Tab 3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </uib-tab>
                    <uib-tab index="3" disable="true">
                        <uib-tab-heading>
                            <li uib-dropdown>
                                <a class="dropdown-toggle" uib-dropdown-toggle href="#">
                                    Dropdown <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </uib-tab-heading>
                    </uib-tab>
                </uib-tabset>
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->

        <div class="col-md-6">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab">Tab 1</a></li>
                    <li><a href="#tab_2-2" data-toggle="tab">Tab 2</a></li>
                    <li><a href="#tab_3-2" data-toggle="tab">Tab 3</a></li>
                    <li uib-dropdown>
                        <a class="dropdown-toggle" uib-dropdown-toggle href="#">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="pull-left header"><i class="fa fa-th"></i> Custom Tabs</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1-1">
                        <b>How to use:</b>

                        <p>Exactly like the original bootstrap tabs except you should use
                            the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                        A wonderful serenity has taken possession of my entire soul,
                        like these sweet mornings of spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot,
                        which was created for the bliss of souls like mine. I am so happy,
                        my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                        that I neglect my talents. I should be incapable of drawing a single stroke
                        at the present moment; and yet I feel that I never was a greater artist than now.
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2-2">
                        The European languages are members of the same family. Their separate existence is a myth.
                        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                        in their grammar, their pronunciation and their most common words. Everyone realizes why a
                        new common language would be desirable: one could refuse to pay expensive translators. To
                        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                        words. If several languages coalesce, the grammar of the resulting language is more simple
                        and regular than that of the individual languages.
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3-2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END CUSTOM TABS -->
    <!-- START PROGRESS BARS -->
    <h2 class="page-header">Progress Bars</h2>

    <div class="row">
        <div class="col-md-6">
            <box type="solid" title="Progress Bars Different Sizes">
                <p><code>.progress</code></p>

                <div class="progress">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <p>Class: <code>.sm</code></p>

                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <p>Class: <code>.xs</code></p>

                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <p>Class: <code>.xxs</code></p>

                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
            </box>
        </div>
        <!-- /.col (left) -->
        <div class="col-md-6">
            <box type="solid" title="Progress bars">
                <div class="progress">
                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </box>
        </div>
        <!-- /.col (right) -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6">
            <box type="solid" title="Vertical Progress Bars Different Sizes" body-class="text-center">
                <p>By adding the class <code>.vertical</code> and <code>.progress-sm</code>, <code>.progress-xs</code> or
                    <code>.progress-xxs</code> we achieve:</p>

                <div class="progress vertical active">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span class="sr-only">40%</span>
                    </div>
                </div>
                <div class="progress vertical progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: 100%">
                        <span class="sr-only">100%</span>
                    </div>
                </div>
                <div class="progress vertical progress-xs">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%">
                        <span class="sr-only">60%</span>
                    </div>
                </div>
                <div class="progress vertical progress-xxs">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%">
                        <span class="sr-only">60%</span>
                    </div>
                </div>
            </box>
        </div>
        <!-- /.col (left) -->
        <div class="col-md-6">
            <box type="solid" title="Vertical Progress bars" body-class="text-center">
                <p>By adding the class <code>.vertical</code> we achieve:</p>

                <div class="progress vertical">
                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height: 40%">
                        <span class="sr-only">40%</span>
                    </div>
                </div>
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: 20%">
                        <span class="sr-only">20%</span>
                    </div>
                </div>
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 60%">
                        <span class="sr-only">60%</span>
                    </div>
                </div>
                <div class="progress vertical">
                    <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 80%">
                        <span class="sr-only">80%</span>
                    </div>
                </div>
            </box>
        </div>
        <!-- /.col (right) -->
    </div>
    <!-- /.row -->
    <!-- END PROGRESS BARS -->

    <!-- START ACCORDION & CAROUSEL-->
    <h2 class="page-header">Bootstrap Accordion & Carousel</h2>

    <div class="row">
        <div class="col-md-6">
            <box type="solid" title="Collapsible Accordion">
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <collapsable-box type="primary" custom-class="panel" title="Collapsible Group Item #1" collapsed="false">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </collapsable-box>
                    <collapsable-box type="danger" custom-class="panel" title="Collapsible Group Danger" collapsed="true">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </collapsable-box>
                    <collapsable-box type="success" custom-class="panel" title="Collapsible Group Success" collapsed="true">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </collapsable-box>
                </div>
            </box>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <box type="solid" title="Carousel">
                <uib-carousel active="carousel.active">
                    <uib-slide ng-repeat="slide in carousel.slides" index="slide.id">
                        <img ng-src="{{ slide.img.src }}" alt="{{ slide.img.alt }}" />
                        <div class="carousel-caption">
                            {{ slide.caption }}
                        </div>
                    </uib-slide>
                </uib-carousel>
            </box>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->

    <!-- START TYPOGRAPHY -->
    <h2 class="page-header">Typography</h2>

    <div class="row">
        <div class="col-md-6">
            <box type="solid" icon-class="fa fa-text-width" title="Headlines">
                <h1>h1. Bootstrap heading</h1>

                <h2>h2. Bootstrap heading</h2>

                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <h6>h6. Bootstrap heading</h6>
            </box>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <box type="solid" title="Text Emphasis" icon-class="fa fa-text-width">
                <p class="lead">Lead to emphasize importance</p>

                <p class="text-green">Text green to emphasize success</p>

                <p class="text-aqua">Text aqua to emphasize info</p>

                <p class="text-light-blue">Text light blue to emphasize info (2)</p>

                <p class="text-red">Text red to emphasize danger</p>

                <p class="text-yellow">Text yellow to emphasize warning</p>

                <p class="text-muted">Text muted to emphasize general</p>
            </box>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <box type="solid" icon-class="fa fa-text-width" title="Block Quotes">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </box>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <box type="solid" icon-class="fa fa-text-width" title="Block Quotes Pulled Right" body-class="clearfix">
                <blockquote class="pull-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </box>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4">
            <box type="solid" title="Unordered Lists" icon-class="fa fa-text-width">
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </box>
        </div>
        <!-- ./col -->
        <div class="col-md-4">
            <box type="solid" title="Ordered Lists" icon-class="fa fa-text-width">
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ol>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ol>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ol>
            </box>
        </div>
        <!-- ./col -->
        <div class="col-md-4">
            <box type="solid" title="Unstyled Lists" icon-class="fa fa-text-width">
                <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </box>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <box type="solid" title="Description" icon-class="fa fa-text-width">
                <dl>
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
            </box>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <box type="solid" title="Description Horizontal" icon-class="fa fa-text-width">
                <dl class="dl-horizontal">
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    <dt>Felis euismod semper eget lacinia</dt>
                    <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                        sit amet risus.
                    </dd>
                </dl>
            </box>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- END TYPOGRAPHY -->

</section>
<!-- /.content -->