<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ title }}
        <small ng-show="desc != null">{{ desc }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <box type="primary" title="Ion Slider">
                <div class="row margin">
                    <div class="col-sm-6">
                        <ion-range-slider min="0" max="200" step="1" type="single" ng-model="sliders.ion.first"></ion-range-slider>
                    </div>

                    <div class="col-sm-6">
                        <ion-range-slider type="double" min="1000" max="100000" step="500" postfix=" &euro;" ng-model="sliders.ion.second" grid="true" />
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-sm-6">
                        <ion-range-slider min="20" max="300" type="double" ng-model="sliders.ion.third"></ion-range-slider>
                    </div>
                    <div class="col-sm-6">
                        <ion-range-slider min="0" max="100" type="double" ng-model="sliders.ion.fourth" postfix="%" hide-min-max="true" hide-from-to="true"></ion-range-slider>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-sm-12">
                        <ion-range-slider type="double" min="1000" max="100000" step="500" prefix="$" ng-model="sliders.ion.second" grid="true" />
                    </div>
                </div>
            </box>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            <box type="primary" title="Bootstrap Slider">
                <div class="row margin">
                    <div class="col-sm-6">
                        <slider ng-model="sliders.bs.first" range="true" min="-200" max="200" step="5" value="[-100, 100]" orientation="horizontal" selection="before" tooltip="show" sliderid="'red'" />
                        <p>sliderid="'red'"</p>

                        <slider min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.second" range="true" orientation="horizontal" selection="before" tooltip="show" sliderid="'blue'" />
                        <p>sliderid="'blue'"</p>

                        <slider min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.third" range="true" orientation="horizontal" selection="before" tooltip="show" sliderid="'green'" />
                        <p>sliderid="'green'"</p>

                        <slider min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.fourth" range="true" orientation="horizontal" selection="before" tooltip="show" sliderid="'yellow'" />
                        <p>sliderid="'yellow'"</p>

                        <slider min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.fifth" range="true" orientation="horizontal" selection="before" tooltip="show" sliderid="'aqua'" />
                        <p>sliderid="'aqua'"</p>

                        <slider min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.sixth" range="true" orientation="horizontal" selection="before" tooltip="show" sliderid="'purple'" />
                        <p style="margin-top: 10px">sliderid="'purple'"</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <slider style="display: inline-block; margin-right: 20px;" ng-model="sliders.bs.first" range="true" min="-200" max="200" step="5" value="[-100, 100]" orientation="vertical" selection="before" tooltip="show" sliderid="'red'" />
                        <slider style="display: inline-block; margin-right: 20px;" min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.second" range="true" orientation="vertical" selection="before" tooltip="show" sliderid="'blue'" />
                        <slider style="display: inline-block; margin-right: 20px;" min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.third"  range="true" orientation="vertical" selection="before" tooltip="show" sliderid="'green'" />
                        <slider style="display: inline-block; margin-right: 20px;" min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.fourth" range="true" orientation="vertical" selection="before" tooltip="show" sliderid="'yellow'" />
                        <slider style="display: inline-block; margin-right: 20px;" min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.fifth"  range="true" orientation="vertical" selection="before" tooltip="show" sliderid="'aqua'" />
                        <slider style="display: inline-block; margin-right: 20px;" min="-200" max="200" step="5" value="[-100,100]" ng-model="sliders.bs.sixth"  range="true" orientation="vertical" selection="before" tooltip="show" sliderid="'purple'" />
                    </div>
                </div>
            </box>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>